
        <% if params[:f] and params[:f][solr_field] and not params[:f][solr_field].blank? %>
          <h4><%= params[:f][solr_field].first %></h4>
        <% end %>

        <%= render_facet_limit display_facet, :partial => 'facet_limit', :layout => nil %>

