<ul>
  <% paginator =    
      Blacklight::Solr::FacetPaginator.new(display_facet.items,        
        :limit => facet_limit_for(solr_field))
  %>
  <% paginator.items.each do |item| -%>
    <li>
    <% if facet_in_params?( item.field.name, item.value ) %>              
        <%= render_selected_facet_value(item.field.name, item) %>              
      <% else %>              
        <%= render_facet_value(item.field.name, item) %>              
    <% end -%>

    <%= render_facet_limit item.pivot, :layout => nil if item and item.pivot %>
    </li>
  <% end %>

  <% if(paginator.has_next?)  %>
    <li class="more_facets_link"><%= link_to('more »', params.merge(:id => solr_field, :action=>"facet"), :class => "more_facets_link") %></li>
  <% end %>

</ul>
